# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/

# Tauri
/modules/
/src-tauri/
src-tauri/target/
src-tauri/binaries/
src-tauri/gen/schemas/
